@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--primary: #c92071;
	--secondary: #B5B6F2;
	--tertiary: #991956;
	--dark-gray: #1F1F1F;
	--dark-gray-2: #474747;
	--dark-gray-2-transparent: #4747470a;
	--dark-gray-3: #666;
	--light-gray: #8F8F8F;
	--light-gray-2: #CCCCCC;
	--light-gray-3: #F5F5F5;
	--white: #FFF;
	--error: #EE4266;
	--success: #52CA76;
	--warning: #F6AA1C;
	--primary-gradient: linear-gradient(180deg, #C92071 0%, #EDABCA 100%);
	--secondary-gradient: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: 'Inter', sans-serif;
}

html,body {
	overflow: overlay
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
}

table {
	border-collapse: collapse;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	padding-bottom: 32px;
	padding-inline: 104px;
}

.text-center {text-align: center}

.button {
	display: block;
	background-color: var(--primary);
	color: var(--light-gray-3);
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 8px;
	word-wrap: nowrap;
	white-space: nowrap;
}
.button:hover {
	background-color: var(--tertiary);
}

.secondary-button {
	color: var(--primary);
	background: var(--light-gray-3);
	width: 153px;
	height: 48px;
	line-height: 48px;
}
.secondary-button:hover {
	background-color: var(--secondary);
	color: var(--white);
}

.discount-highlight {
	color: var(--dark-gray-2);
	width: 81px;
	border-radius: 29px;
	background-color: #E7FF86;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: 700;
}

.follow-more a {
	color: var(--primary);
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0.75px;
	position: relative;
	white-space: nowrap;
}
.follow-more img {
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}

.banner {
	width: 100%;
	padding-inline: 100px;
	position: relative;
	display: flex;
}

.banner>div {
	width: calc((100% - 200px) / 2);
	position: relative;
}

#header-line-1 {
	display: flex;
		align-items: center;
	padding-top: 42px;
}

.logo {
	display: flex;
		align-items: center;
		gap: 10px;
}

.logo .digital-college {
	color: var(--primary);
	width: max-content;
	font-size: 36.4px;
	font-weight: 600;
	word-wrap: nowrap;
}

#search-action-button {
	position: absolute;
	right: 0;
	height: 100%;
	width: fit-content;
	background: none;
	padding-inline: 16px;
	cursor: pointer;
}

.search {
	position: relative;
	width: 100%;
	min-width: 200px;
	height: 100%;
	background-color: var(--dark-gray-2-transparent);
	margin-left: 27px;
	border-radius: 8px;
}
.search:hover {
	background-color: #4747472a;
}

.search input {
	width: 100%;
	border-radius: 8px;
	padding: 15px;
	background: none;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.75px;
	color: var(--dark-gray-3);
}

.sign {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-inline: 64px 70px;
}

.sign #sign-up-anchor {
	color: var(--dark-gray-2);
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.75px;
	text-decoration-line: underline;
	word-wrap: nowrap;
	white-space: nowrap;
}

.sign #sign-in-anchor {
	width: 114px;
	font-size: 14px;
}

#cart {
	display: block;
	position: relative;
	background: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#cart span {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: var(--primary);
	color: #fff;
	width: 17px;
	height: 17px;
	line-height: 17px;
	border-radius: 10px;
}

#header-line-2 {
	margin-top: 40px;
	color: var(--dark-gray-2);
	font-weight: 400;
}

#header-line-2 ul {
	display: flex;
	gap: 32px;
	list-style: none;
}

#header-line-2 a {
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.75px;
}

.nav-active {
	font-weight: 700;
	border-bottom: 1px solid var(--primary);
	color: var(--primary);
}

footer {
	background-color: var(--dark-gray);
	color: var(--white);
	display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	padding-inline: 100px;
	padding-top: 72px;
}

#footer-col-1, #footer-col-4 {
	width: 25%;
}

#footer-col-1 .logo {
	font-size: 37px;
	font-weight: 600;
	letter-spacing: -0.364px;
}


#footer-col-1 p {
	margin-block: 35px 40px;
}

.footer-column>h6 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 39px;
}

.footer-column>div {
	display: flex;
		flex-direction: column;
		gap: 22px;
	font-size: 16px;
	font-weight: 400;
}

footer>p {
	border-top: 1px inset var(--white);
	width: 100%;
	padding-block: 23px;
	margin-top: 34px;
	text-align: center;
	font-size: 13px;
}