.carrousel {
	background-color: var(--light-gray-3);
	padding-bottom: 53px;
}

.carrousel-item {
	padding-top: 124px;
	background: var(--light-gray-3);
}

.carrousel-item h3 {
	color: var(--warning);
	font-size: 16px;
}

.carrousel-item h2 {
	color: var(--dark-gray);
	font-size: 64px;
	line-height: 66px;
	font-weight: 800;
	margin-block: 20px;
}

.carrousel-item p {
	color: var(--dark-gray-2);
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0.75px;
}

.carrousel-item .item-image {
	width: 100%;
	position: relative;
	transform: scale(1.8);
}

.carrousel-item .float-image {
	position: absolute;
	top: 78px;
	right: 37px;
}

.carrousel-item .button {
	margin-top: 40px;
	width: 220px;
}

.carrousel .carrousel-controller {
	width: fit-content;
	margin: 80px auto 0;
	display: flex;
	gap: 10px;
}

.carrousel .carrousel-controller span {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: var(--light-gray-2);
	cursor: pointer;
}
.carrousel .carrousel-controller span.active {
	background-color: var(--primary);
}

.highlights {
	padding: 38px 100px 120px;
	background: #F9F8FE;
}

.highlights h2 {
	color: var(--dark-gray-2);
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0.75px;
	margin-bottom: 20px;
}

.highlights .highlight-collections {
	display: flex;
		gap: 12px;
		justify-content: center;
		flex-wrap: wrap;
}

.highlights .highlight-collections > div {
	background-color: #D8E3F2;
	width: 405px;
	height: 251px;
	border-radius: 8px;
	padding: 34px 30px;
	position: relative;
}

.highlights .highlight-collections > div > *:not(img) {
	z-index: 1;
	position: relative;
}

/* .highlights .highlight-collections > div span {} */

.highlights .highlight-collections > div h6 {
	color: var(--dark-gray);
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 1px;
	margin-block: 10px 20px;
	width: 60%;
}

.highlights .highlight-collections > div img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.highlights h2:nth-of-type(2) {
	text-align: center;
	margin-top: 100px;
}

.highlights .highlight-departments {
	display: flex;
		gap: 48px;
		justify-content: center;
}

.highlights .highlight-departments>div>div{
	width: 104px;
	height: 104px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 62px;
}
.highlights .highlight-departments>div>div img {
	object-fit: contain;
}

.highlights .highlight-departments>div h5 {
	color: var(--dark-gray-2);
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin-top: 12px;
}

.highlights #title-with-link {
	margin-block: 123px 20px;
	display: flex;
		justify-content: space-between;
}
.highlights #title-with-link h2 {
	margin-bottom: 0;
}

.highlights .highlight-products {
	display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-items: stretch;
		justify-content: center;
}

.highlights .highlight-products .card {
	width: 292px;
	height: 439px;
}

.highlights .highlight-products .card>div {
	background-color: #fff;
	padding: 80px 20px 50px;
	position: relative;
}

.highlights .highlight-products .card>div .discount-highlight {
	position: absolute;
	top: 20px;
	left: 20px;
	width: auto;
}

.highlights .highlight-products .card>div img {
	width: 100%;
}

.highlights .highlight-products .card .category {
	color: var(--light-gray);
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.75px;
}

.highlights .highlight-products .card .product {
	color: var(--dark-gray-2);
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0.75px;
}

.highlights .highlight-products .card .price {
	color: var(--dark-gray);
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0.75px;
}
.highlights .highlight-products .card .price span {
	color: var(--light-gray);
	font-weight: 400;
	text-decoration: line-through;
}

.special-offer {
	justify-content: space-between;
	padding-block: 87px 106px;
}

.special-offer .image-container {
	margin-inline: 30px;
	position: relative;
	background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
	aspect-ratio: 1/1;
	border-radius: 50%;
	width: 38%;
}
.special-offer .image-container img {
	object-fit: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 120%;
}

.special-offer div:nth-child(2) {
	width: 52%;
	padding-top: 19px;
}

.special-offer h3 {
	color: var(--primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.special-offer h2 {
	color: var(--dark-gray-2);
	font-size: 48px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 1px;
	margin-block: 17px 20px;
}

.special-offer p {
	color: var(--dark-gray-2);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.75px;
}

.special-offer .button {
	width: 200px;
	margin-top: 30px;
	font-size: 14px;
	letter-spacing: 0.75px;
	font-weight: 700;
}